@font-face {
  font-family: 'HeeboBold';
  src: url('Heebo-Bold.woff') format('woff'),    /* Firefox 3.6+, Chrome 5.0+, IE 9.0+ */
  url('Heebo-Bold.ttf') format('truetype'); /* Opera, Safari */
}
@font-face {
  font-family: 'Heebo';
  src: url('Heebo-Regular.woff') format('woff'),    /* Firefox 3.6+, Chrome 5.0+, IE 9.0+ */
  url('Heebo-Regular.ttf') format('truetype'); /* Opera, Safari */
}
html,
button,
input,
select,
textarea,
.pure-g,
.pure-g [class * "pure-u"] {
    font-family: Heebo;
}
h2 {
    font-size: 24px;
    letter-spacing: 0.01em;
}
input[type="text"],
input[type="password"],
textarea {
    width: 100%
}
input[type=checkbox] {
    float: left;
    margin: .35em .4em
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
body {
    color: #333;
    font-size: 12px;
    max-width: 1200px;
    margin: 0 auto;
}
.edit-off {
    cursor: pointer
}
.popup-hidden, .pin-hidden, .menu-hidden {
    display: none
}
.popup,
div.popup {
    position: absolute;
    bottom: 100%;
    background-color: #fff0b3;
    border-radius: 5px;
    border: 0 solid #333;
    color: #333;
    font-size: 80%;
    line-height: 110%;
    z-index: 100;
    padding: 5px;
    min-width: 20em
}
.popup:not(.pop-left) {
    left: 20px
}
.popup.pop-left {
    right: 20px
}
.popup-target:hover .popup {
    display: block
}
.popup-target {
    position: relative
}
#aps label div {
    display: inline-block;
    margin: 0 1em
}
fieldset.radios {
    border: 0;
    padding-left: 0
}
fieldset fields {
    clear: both
}
#pin-mux input {
    display: block;
    margin-top: .4em;
    float: left
}
#pin-mux label {
    display: block;
    margin: 0 .2em 0 1em;
    width: 90%
}
.pure-form-aligned.form-narrow .pure-control-group label {
    text-align: left;
    width: 6em
}
.pure-form-aligned.form-narrow input[type=checkbox],
.pure-form-aligned.form-narrow input[type=radio] {
    float: none
}
.xx-pure-img-responsive {
    max-width: 100%;
    height: auto
}
#layout,
#menu,
.menu-link {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}
#layout {
    position: relative;
    padding-left: 0;
    /*width: 80%*/
}
#layout.active #menu {
    left: 150px;
    width: 220px
}
#layout.active .menu-link {
    left: 150px
}
#layout.active #version {
    padding: 0 20%;
}
div.tt {
    font-family: monospace;
    font-size: 120%;
    color: #390;
    background-color: #ddd;
    padding: 2px;
    margin: 2px 0;
    line-height: 100%
}
#main > .content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 20px;
    line-height: 1.6em;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    min-height: 600px
}
/*** header ***/
.header {
    margin: 0;
    color: #333;
    height: 100%;
}
.header h1 {
    margin: .2em 0;
    font-size: 3em;
    font-weight: 300
}
.header h1 .esp {
    font-size: 1.25em
}
.jl,
.header h1 {
    font-family: HeeboBold;
    position: relative;
    bottom: 15px;
    text-align: left;
    font-size: 70px;
    clear: both;
    font-weight: bold;
    border-bottom: 1px solid #c1c1c1;
    /*border-top: 1px solid #333;*/
    padding: 5px 0;
    letter-spacing: 0.01px;
}
.jm {
    font-family: Heebo;
    position: relative;
    bottom: 22px;
    text-align: left;
    font-size: 15px;
    /* clear: both; */
    /* font-weight: bold; */
    border-bottom: 1px dotted #c1c1c1;
    /*border-top: 1px solid #333;*/
    padding: 15px 0;
    letter-spacing: 0.01em;
}
#advanced-menu {
    position: absolute;
    right: 24px;
    top: 60px;
    width: 238px;
    background-color: #fff;
    border: 1px solid #333;
    z-index: 100;
}
.advanced-elem {
    padding: 9px 18px;
    margin: 0;
}
.advanced-elem-title, .wifi-status .advanced-elem:not(:last-child), .port-block.advanced-elem {
    border-bottom: 1px solid #c1c1c1;
    font-size: 12px;
}
.advanced-elem-title {
    font-family: HeeboBold;
}
.advanced-elem-title.advanced-settings{
    border-top: 1px solid #333 !important
}
.advanced-elem span {
    float: right
}
.header .top {
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #333;
}
.header .top .link {
    padding-top: 7px;
}
.header .top .link a {
    padding: 15px 20px 8px;
    text-decoration: none;
    color: #333;
    font-size: 14px
}
.header .top .link a.active {
    border-bottom: 4px solid #ffdd00;
    font-family: HeeboBold;
}
#advanced-menu-b, #scan-button {
    height: 30px;
    width: 33px;
    background-image: url(img/icons.png);
    opacity: 1;
    background-position: 0px -73px;
    border: none;
    background-size: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    margin-top: 4px;
    box-shadow: none;
}
#advanced-menu-b.arrow-down {
    background-position: 0px -102px;
}
#advanced-menu-b.arrow-up {
    background-position: 0px -132px;
}
#ip-address {
    border: 1px solid #333;
    background-color: #f5f6f6;
    padding: 12px 20px 8.5px 15px;
    width: 203px;
    -webkit-padding-after: 9px;
}

/*** content ***/
.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888
}
form button {
    margin-top: .5em
}
.button-primary {
    background: #333
}
.button-selected {
    background-color: #fc6
}
select.pure-button {
    padding: .465em 1em;
    color: #009
}
.button-small {
    font-size: 75%;
    background: #ccc
}
input.inline {
    float: none;
    margin-right: 0;
    margin-left: .5em
}
pre.console {
    background-color: #333;
    border-radius: 5px;
    border: 0 solid #333;
    color: #FC0;
    padding: 5px;
    overflow: scroll;
    margin: 0;
    height: 35vh
}
pre.console a {
    color: #6f6
}
.console-in {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d3d2d2;
    color: #333;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}
.console-in option:checked {
    background-image: -webkit-linear-gradient(#e6e7e8, #e6e7e8);
    background-image: linear-gradient(#e6e7e8, #e6e7e8)
}
.flex-hbox,
.flex-vbox {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex
}
.flex-hbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    ms-flex-direction: row;
    webkit-flex-direction: row
}
.flex-vbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    ms-flex-direction: column;
    webkit-flex-direction: column
}
.flex-fill {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    ms-flex: 1 1 auto;
    webkit-flex: 1 1 auto
}
.height100 {
    height: 100%
}
.dbg-btn,
#refresh-button {
    vertical-align: baseline;
    width: 48%;
    float: left
}
.dbg-btn,
#reset-button {
    vertical-align: baseline;
    width: 48%;
    float: left
}
.dbg-btn,
#log-reset-button {
    vertical-align: baseline;
    width: 48%;
    float: left
}
#reset-button {
    text-transform: none !important
}
.lock-icon {
    background-image: url("img/icons.png");
    background-color: transparent;
    width: 18px; 
    height: 23px;
    display: inline-block;
    vertical-align: bottom;
    background-size: 37px;
    margin: 0px 18px 0 0 !important;
    float: right;
}
.wifi-icon {
    width: 24px;
    margin: 0 !important;
}
#aps {
    border-top: 1px solid #c1c1c1;
    line-height: 1 !important;
    margin-right: 50px;
}
#aps > div {
    height: 31px;
    border-bottom: 1px solid #c1c1c1;
}
#aps label{
    margin: 9px 0;
}

.menu-link {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: #333;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em
}
.menu-link span {
    position: relative;
    display: block
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: .2em
}
.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " "
}
.menu-link span:after {
    margin-top: .6em
}
@media(min-width:56em) {
    .header, .content {
        padding-left: 2em;
        padding-right: 2em
    }
    .menu-link {
        position: fixed;
        left: 150px;
        display: none
    }
    #layout.active .menu-link {
        left: 150px
    }
}
#messages {
    position: absolute;
    left: 25%;
    /*width: 50%;
    top: 10;
    z-index: 200;
    font-size: 110%;
    text-align: center*/
}
#warning {
    background-color: #933;
    color: #fcc;
    padding: .4em 1em;
    position: fixed;
    margin-left: 20%;
    font-size: 0.8rem;
    border-radius: 50px;
}
#notification {
    background-color: #333;
    color: #fff;
    padding: 1em;
    position: absolute;
    margin-left: 17%;
    font-size: 0.8rem;
    width: 214px;
    top: 60px;
    height: 122px;
    z-index: 101;
    right: 24px;
}
#wifinotification, #hostnamenotification, #wifiwarning {
    max-width: 300px;
    display: inline-block;
    color: #000;
    font-family: HeeboBold;
    border-bottom: 3px solid #ffdd00;
    padding: 13px 0 1px 0px;
    float: left
}
#wifiwarning {
    border-bottom: 3px solid #f00;
}
.gotit {
    color: #ffdd00;
    position: absolute;
    right: 2em;
    bottom: 12px;
    font-family: HeeboBold;
    text-transform: uppercase;
}
#spinner {
    position: absolute;
    right: 10%;
    top: 20;
    z-index: 1000
}
.spinner {
    height: 50px;
    width: 50px;
    -webkit-animation: rotation 1s infinite linear;
    animation: rotation 1s infinite linear;
    border-left: 10px solid rgba(204, 51, 0, 0.15);
    border-right: 10px solid rgba(204, 51, 0, 0.15);
    border-bottom: 10px solid rgba(204, 51, 0, 0.15);
    border-top: 10px solid rgba(204, 51, 0, 0.8);
    border-radius: 100%
}
.spinner-small {
    display: inline-block;
    height: 1em;
    width: 1em;
    border-width: 4px
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg)
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
hr {
    border-color: #00979c
}
p.sub-menu-header {
    color: #00979c !important;
    font-size: 9pt;
    padding-left: 4%;
    padding-top: 6%;
    text-transform: uppercase;
    height: 30px;
    margin-bottom: 0
}
.pure-menu-link:hover,
li.pure-menu-item.pure-menu-selected,
li.pure-menu-item:hover {
    background-color: #cf3359 !important
}
td.td_key {
    color: #797979 !important
}
.pure-table {
    width: 100%;
    /*background-color: #f5f6f6*/
}
.header p {
    padding: 0 14.5% 0 11%;
    text-align: left
}
#change-hostname-button,
#change-network-button,
#connect-button,
#special-button,
.but_check{
    width: 92px;
    float: right;
    border-radius: 50px;
    letter-spacing: 0.01em;
    padding: 1.5px 1em;
    font-family: Heebo;
    margin-bottom: 10px
}
.system-name {
    float: left;
    width: 100%;
}
.td_header {
    background-color: #e6e7e8 !important
}
span.jl {
    padding: 0 10%;
    float: left;
    width: 100%
}
legend {
    color: #797979
}
.card h1 {
    text-transform: uppercase;
    font-size: 1.5em !important
}
#slip-enable-checkbox {
    float: left
}
#slip-enable-label {
    text-transform: uppercase
}
#menu-list {
    padding-top: 10%
}
.console-options {
    float: right;
    text-align: -webkit-right;
    margin: 8px 0
}
#hostname-card td {
    border: 0
}
a.pure-button.button-primary {
    text-transform: uppercase;
    width: 100%
}
#specform,
#sliptext,
#slip-enable-div {
    padding: 0 18px
}
#enable-status-report,
form#specform {
    padding-top: 3% !important
}
#specform .form-horizontal {
   padding: 15px 0; 
}
#specform label {
   margin: 2px 0;
   display: block;
}
#specform label span {
   margin: 0 10px 0 0;
}
#index-page .content .pure-g {
    width: 80%;
    margin: 10px 0 50px;
    display: block
}
.content .row-1 {
    border-bottom: 1px dotted #c1c1c1;
}
td.td_header {
    padding-left: 0
}
.td_header h1 {
    color: #c3002f;
    font-size: 13pt !important;
    padding-left: .7em
}
.pure-button {
    font-size: 1rem !important
}
.pure-g.serial-monitor-input {
    margin: 0 !important;
    margin-right: 10.5%;
    width: 100%
}
.pure-g.debug {
    margin: 0;
    width: 100%
}
a.pure-menu-link {
    font-size: 13pt
}
#send-history,
#input-text {
    width: 100%
}
.console-box {
    margin-left: 10.2% !important;
    margin-right: 10.2% !important
}
.button-larger-margin {
    margin-bottom: 10px;
    margin-top: 10px
}
#slip-enable-div {
    padding-bottom: 10px
}
.abutton {
    padding-bottom: 15% !important;
    padding-top: 5% !important
}
#clear-console-button {
    vertical-align: baseline;
    width: 48%;
    float: right
}
.dbg-log {
    width: 30% !important
}
.dbg-log#clear-console-button,
.dbg-log#log-reset-button {
    margin-left: 5% !important
}
#alertWiFiMode {
    display: none;
    position: absolute;
    background-color: #F00;
    color: #FFF;
    border-radius: 5px;
    max-width: 30%;
    padding: .1em .4em
}

.menu-disabled {
    pointer-events: none;
    cursor: default;
}
.green .col  {
    background-color: #a8e71e;
    border-bottom: 1px solid white;
}
.yellow .col {
    background-color: #ffc20f;
    border-bottom: 1px solid white;
}
div.sp_val {
    padding: 8px;
    border-top: 1px dotted #333;
}
.but_check, .digit_but {
    margin: 0 10px;
}
input.digit_range {
    max-width: 90px;
    -webkit-appearance: none;
    outline: none;
    background-color: transparent
}
input.digit_range::-webkit-slider-runnable-track {
    //max-width: 80px;
    -webkit-appearance: none;
    //border: 1px solid #333;
    //border-radius: 15px;
    height: 2px;
    outline: none;
    background-color: #333
}
input.digit_range::-moz-range-thumb {
  border: 1px solid #333000 !important;
  height: 16px !important;
  width: 16px !important;
  border-radius: 15px !important;
  background: #ffdd00 !important;
  cursor: pointer !important;
  margin-top: -14px !important;
}
input.digit_range::-moz-range-track {
    //max-width: 90px;
    height: 2px;
    background: #333;
    border: none;
    border-radius: 3px;
    outline: none;
}
input.digit_range::-webkit-slider-thumb {
    border: 1px solid #333000 !important;
    height: 16px !important;
    width: 16px !important;
    border-radius: 15px !important;
    background: #ffdd00 !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    margin-top: -8px;
}
.digit_range::-ms-fill-lower, .digit_range::-ms-fill-upper {
    background: #333;
    border-radius: 15px;
}
input.digit_range::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -2px !important;
}
input.digit_range::-ms-track {
    max-width: 90px;
    height: 2px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

/** pin block control page **/
.pin_block {
    border: 1px solid #333;
    width: 130px;
    margin-bottom: 5px;
    float: left;
    margin-right: 5px;
}
.pin_block_container {
    height: 246px;
    float: left;
}
.pin_label, .input-row {
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
}
.sld {
    border-top: 1px dotted #c1c1c1
}
.sld div:first-child {
    margin-left: 20px !important;
    float: left !important;
}
.sld div {
    display: inline-block;
    margin-right: 20px;
    float: right;
    margin-left: 0px;
}

.pin_label {
    background-color: #ffdd00;
    border-bottom: 1px solid #c1c1c1;
    padding: 8px 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.switch {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 27px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  bottom: 2px;
  background-color: #ffdd00;
  border: 1px solid #333;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffdd00;
  border: 1px solid #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(65px);
  -ms-transform: translateX(65px);
  transform: translateX(65px);
  background-color: #fff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.btnchk, .input-row, .btnsld, .sld {
    text-align: center;
    padding: 10px 0;
    height: 47px
}
.input-row > div, .btnsld > div {
    width: 50%;
}
.input-row > div > label {
    display: block;
}
.but_check {
    float: none;
    margin-top: 19px;
}
.image-red {
    position: relative;
    width: 338px;
    margin: 0 auto;
}
.image-red img {
    margin-top: 1px;
}
.digital_pin_show, .analog_pin_show {
    position: absolute;
    z-index: 2;
    left: 25px;
    top: 22px;
    width: 14px;
    height: 13px;
    cursor: pointer
}
.analog_pin_show {
    left: 298px;
}
.digital_pin_show.active, .analog_pin_show.active {
    background-color: #ffdd00;
    width: 43px;
    left: -4px;
    border: 1px solid #333;
    font-size: 10px;
}
.analog_pin_show.active {
    right: -5px;
    left: auto;
    background: url(img/background_yellow.png) repeat;
    background-color: #fff;
}
.analog .pin_label {
    background: url(img/background_yellow.png) repeat;
    background-color: #fff;
}
.analog_pin_show .p, .digital_pin_show .p {
    display: none;
    color: #333;
}
.analog_pin_show.active .p {
    display: block;
    text-align: right;
    line-height: 1;
    padding-right: 4px;
    padding-top: 1px;
}
.digital_pin_show.active .p {
    display: block;
    text-align: left;
    line-height: 1;
    padding-left: 4px;
    padding-top: 1.2px;
}
#digital_1_pin {
    top: 36px;
}
#digital_2_pin {
    top: 50px;
}
#digital_3_pin {
    top: 64px;
}
#digital_4_pin {
    top: 78px;
}
#digital_5_pin {
    top: 92px;
}
#analog_a0_pin {
    top: 93px;
}
#analog_a1_pin {
    top: 79px;
}
#analog_a2_pin {
    top: 65px;
}
#analog_a3_pin {
    top: 51px;
}
#analog_a4_pin {
    top: 37px;
}
#analog_a5_pin {
    top: 23px;
}
#digital_6_pin {
    top: 106px;
}
#digital_7_pin {
    top: 120px;
}
#digital_8_pin {
    top: 145px;
}
#digital_9_pin {
    top: 159px;
}
#digital_10_pin {
    top: 173px;
}
#digital_11_pin {
    top: 187px;
}
#digital_12_pin {
    top: 201px;
}
#digital_13_pin {
    top: 215px;
}
.port-block label {
    display: inline-block;
    padding: 2px 5px 5px 0;
}
.port-block #port {
    display: inline-block;
    float: right;
    padding: 11px
}
/** footer **/
.version, .date-version {
   width: 8%;
   border-right: 1px solid #333;
   text-align: center
}
.footer {
    border-top: 1px solid #333
}
.footer > div {
    padding: 20px 1%
}
.copyright {
    width: 76%
}
.card .container {
    width: 50%;
    margin: 0 auto;
}
.card .row {
    position: fixed;
    left: 50%;
    margin-left: -169px
}
#password-card, #hostname-card, #listwifi-card {
    margin-right: 5%
}
.icon-button {
    border: none;
    position: relative;
    outline: none;
    background-image: url(img/eye.png);
    width: 31px;
    height: 40px;
    background-size: 25px;
    background-repeat: no-repeat;
    float: right;
    margin-top: 11px;
    background-color: transparent
}
.icon-button-yellow {
    background-image: url(img/eye_yellow.png);
}
#eye img {
    position: absolute;
    top: -10px;
    width: 25px;
}
#hostname-label-card {
    margin-right: 15%
}
#hostname-label-card h2 {
    margin-top: 8px;
}
input[type="radio"] {
    display:none;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;
}
.hidden-ssid {
    margin-top: 12px;
}
input[type="radio"]:checked + label span {
    border: 1px solid #333;
    background-color: #ffdd00;
}
.yellow {
    background-color: #ffdd00 !important;
}
#hidden-ssid {
    width: 82%
}
@media(min-width:546px) {
    .desktop-hide {
        display: none;
    }
}
@media(max-width:56em) {
    #layout.active {
        position: relative;
        left: 150px
    }
}
@media(max-width:546px) {
    .jl, .header h1 {
        font-size: 42px;
        padding-left: 22px;
        padding-top: 20px;
    }
    .header .top {
        padding-bottom: 33px;
    }
    h2 {
        font-size: 22px;
    }
    .mobile-hide {
        display: none
    }
    #ip-address {
        padding: 8px 8px 5.5px 8px;
        width: 112px;
        -webkit-padding-after: 6px;
    }
    #advanced-menu-b {
        margin-top: 1px
    }
    #advanced-menu {
        right: 0;
        top: 53px;
        border-top: 1px black solid;
    }
    .header .top .link a {
        padding: 15px 15px 1px 8px;
    }
    .version, .date-version {
        width: auto;
        border-right: none;
    }
    .site {
        padding: 0 0 4em 4em;
        font-family: HeeboBold
    }
    .copyright {
        width: 100%
    }
    .copyright .floatright {
        float: none !important
    }
    .footer > div {
        padding: 0 2em;
        text-align: center
    }
    #aps {
        margin-right: 0
    }
    #index-page .content .pure-g {
        width: 100%
    }
    .pin-hidden {
        display: block
    }
    .image-red span, .image-red img {
        display: none;
    }
    .card .row {
        position: inherit
    }
    .card .container > .row {
        position: absolute;
        left: 5%;
        bottom: 0px;
    }
    .analog {
        margin-bottom: 70px;
    }
    .port-block #port {
        width: 100%
    }
    #hidden-ssid {
        width: 91%
    }
}
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}